.fundo {
  background: linear-gradient(180deg, rgba(155,187,169,1) 40%, rgba(139,212,190,1) 80%);
}

.CardList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 100vw;
  gap: 30px;
}
.boxDescricao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100vw;
  background-color: #9bbba9;
  border-radius: 20%;
}
