.fundo {
  background: linear-gradient(180deg, rgba(155,187,169,1) 40%, rgba(139,212,190,1) 80%);
}

.CardList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21.87rem;
  width: 100vw;
  gap: 1.9rem;
}
.boxDescricao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100vw;
  background-color: #9bbba9;
  border-radius: 20%;
  font-style: bold;
  font-size: 2rem;
}
