
#background{
    width: 100%;
    height: 100vh;
    background-image:url("/src/assets/snorlax.jpeg");
    background-size: cover;
    background-position: center;
}

.btnHome{
    font-size: 1.2rem;
    color: #000;
    background-color: #ffcb05;
    padding: 0.8vw;
    border: none;
    border-radius: 20px;
    margin-left: 18px;
}

.botao{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    align-items: flex-end;
}