.botaoFundo{
    background-color:transparent !important;
}
/* .tituloModal{

} */
.nomeProdutoModal{
    background-color: #f2f2f2;
    height: 13%;
    width: 100%;
    border-bottom-left-radius: 15% 100%;
    border-bottom-right-radius: 15% 100%;
    border-top-left-radius: 15% 100% ;
    border-top-right-radius: 15% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.containe{
    padding: 0 1.5rem;
    display: flex;
    gap: 3rem;
    width: 100%;
}
.ColunaImagem{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.imagemModalS{
    display: flex;
    justify-content: center;
    width: 15rem;
}

.ColunaDescricao{
    width: 20%;
    flex-wrap: wrap;
}
.btn-comprar{
    width: 100%;
    border: none;
    background-color: blue;
    
}

@media(max-width: 390px){
    .containe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imagemModalS{
        width: 10rem;
    }
}
