.botaoFundo{
    background-color:transparent !important;
}
.tituloModal{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.nomeProduto{
    background-color: transparent;
}

.containe{
    padding: 0 1.5rem;
    display: flex;
    gap: 3rem;
    width: 100%;
}
.ColunaImagem{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.imagemModalS{
    display: flex;
    justify-content: center;
    width: 15rem;
}

.ColunaDescricao{
    width: 20%;
    flex-wrap: wrap;
}
.btn-comprar{
    width: 100%;
    border: none;
    background-color: blue;
    
}

@media(max-width: 390px){
    .containe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imagemModalS{
        width: 10rem;
    }
}
